@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
    /* FONT */
    --font-default: 'Josefin Sans', sans-serif;
    /* COLORS */
    --desaturated-red: hsl(0, 36%, 70%);
    --soft-red: hsl(0, 93%, 68%);
    --dark-grayish-red: hsl(0, 6%, 24%);
    /* LINEAR GRADIENTS */
    --linear-container1: hsl(0, 0%, 100%);
    --linear-container2: hsl(0, 100%, 98%);
    --linear-btn1: hsl(0, 80%, 86%);
    --linear-btn2: hsl(0, 74%, 74%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font: 400 16px var(--font-default);
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.container {
    width: 100vw;
    max-width: 576px;
    background-image: linear-gradient(135deg, var(--linear-container1), var(--linear-container2));
}

img {
    display: block;
}

.logo {
    width: 158px;
    height: auto;
    margin: 25px 0 25px 25px;
}

.hero-mobile,
.hero-desktop {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-desktop {
    display: none;
}

.text-side {
    padding: 0 15px;
}

.title,
.description {
    text-align: center;
    color: var(--desaturated-red);
}

.title {
    font-size: 36px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin: 50px 0 20px 0;
}

.broken-title {
    display: block;
    color: var(--dark-grayish-red);
    font-weight: 600;
}

.description {
    line-height: 22px;
    margin-bottom: 30px;
}

.form {
    position: relative;
    margin-bottom: 50px;
}

#inputEmail {
    color: var(--dark-grayish-red);
    background-image: linear-gradient(var(--linear-container1), var(--linear-container2));
    width: 100%;
    height: 50px;
    border: 1px solid var(--desaturated-red);
    border-radius: 30px;
    outline: none;
    padding-left: 20px;
}

#inputEmail::placeholder {
    font-size: 16px;
    color: var(--desaturated-red);
}

.invalid #inputEmail {
    border: 1px solid var(--soft-red);
}

.valid #inputEmail {
    border: 1px solid #21AD49;
}

.icon-error {
    display: none;
}

.invalid .icon-error {
    display: block;
    position: absolute;
    top: 50%;
    right: 80px;
    transform: translateY(-50%);
}

.btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: none;
    box-shadow: 0 5px 15px hsla(0, 36%, 70%, 0.9);
    background-image: linear-gradient(135deg, var(--linear-btn1), var(--linear-btn2));
    cursor: pointer;
}

.btn:hover {
    background: var(--linear-btn1);
}

.status {
    display: none;
    font-weight: 400;
    margin-left: 20px;
    position: absolute;
    top: 60px;
}

.invalid .status {
    display: block;
    color: var(--soft-red);
}

.valid .status {
    display: block;
    color: #21AD49;
}

@media screen and (min-width: 481px) {
    .logo {
        margin: 25px 0 25px 30px;
    }

    .text-side {
        padding: 0 30px;
    }
}

@media screen and (min-width: 992px) {
    .container {
        height: 100vh;
        max-width: 100vw;
        background-image: url("../images/bg-pattern-desktop.svg"), linear-gradient(135deg, var(--linear-container1), var(--linear-container2));
        display: flex;
    }

    .image-side {
        grid-area: logo;
        display: grid;
        place-content: center flex-start;
    }

    .logo {
        width: 80%;
        margin: 0 0 0 70px;
    }

    .hero-mobile {
        display: none;
    }

    .hero-desktop {
        display: block;
    }

    .text-side {
        width: 500px;
        grid-area: txt;
        display: flex;
        flex-direction: column;
        gap: 1.3rem;
        padding: 0 0 0 70px;
    }

    .title,
    .description {
        text-align: left;
    }


    .title {
        font-size: 60px;
        letter-spacing: 10px;
        margin: 0;
        margin: 50px 0 0 0;
    }

    .description {
        line-height: 25px;
        margin-bottom: 0;
    }

    .form {
        position: relative;
        margin-bottom: 0;
    }

    .grid-left {
        width: 60%;
        background-image: url("../images/bg-pattern-desktop.svg");
        background-repeat: no-repeat;
        background-position: center;

        display: grid;
        grid-template-rows: 150px 1fr;
        grid-template-areas:
            "logo"
            "txt";
    }

    .grid-right {
        width: 40%;
    }
}