@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --default-font: 'Red Hat Display', sans-serif;
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font: 500 16px var(--default-font);
    min-height: 100vh;
    background: var(--pale-blue) no-repeat top url("../images/pattern-background-mobile.svg");
    background-size: contain;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.4;
}

.container {
    width: 100%;
    max-width: 375px;
    background-color: #fff;
    color: var(--desaturated-blue);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 15px 20px rgba(56, 41, 224, 0.15);
}

.header-image {
    display: block;
    width: 100%;
    height: auto;
}

#information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px 30px;
}

#information h1 {
    font-size: 22px;
    font-weight: 900;
    color: var(--dark-blue);
    margin: 10px auto;
}

#information p {
    text-align: center;
    margin: 10px auto;
}

.plan-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--very-pale-blue);
    border-radius: 10px;
    position: relative;
    padding: 15px 10px;
    font-size: 15px;
    margin: 10px auto;
}

.plans {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 70px;
}

.annual-plan {
    color: var(--dark-blue);
    font-weight: 900;
}

.change {
    font-weight: 700;
    color: var(--bright-blue);
    text-decoration: underline;
    cursor: pointer;
    font-size: 14px;
}

.change:hover {
    color: rgba(56, 41, 224, 0.65);
}

.btn {
    font: inherit;
    font-weight: 700;
    width: 100%;
    color: #fff;
    background-color: var(--bright-blue);
    border: none;
    border-radius: 10px;
    padding: 12px;
    cursor: pointer;
    box-shadow: 0px 10px 20px rgba(56, 41, 224, 0.3);
    margin: 10px auto;
}

.btn:hover {
    background-color: rgba(56, 41, 224, 0.65);
}

.cancel {
    font-size: 15px;
    font-weight: 900;
    cursor: pointer;
    margin: 10px auto;
}

.cancel:hover {
    color: var(--dark-blue);
}

@media screen and (min-width: 425px) {
    .plan-box {
        padding: 15px;
        font-size: 15px;
        margin: 10px auto;
    }

    .plans {
        left: 80px;
    }
}

@media screen and (min-width: 576px) {
    body {
        background: var(--pale-blue) no-repeat top url("../images/pattern-background-desktop.svg");
        background-size: contain;
    }
}